@model IEnumerable<BartenderRevised.Models.Brand>
@helper Truncate(string input, int length)
    {
     if (input.Length <= length)
     {
        @input
     }
     else
     {
        @input.Substring(0, length)<text>...</text>
     }
}
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            DrinkType
        </th>
        <th>
            Title
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DrinkType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BrandID }) |
            @Html.ActionLink("Details", "Details", new { id = item.BrandID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BrandID })
        </td>
    </tr>
}

</table>
